{% extends "notes/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1> welcome to your profile <span style="color: darkred">{{ user.username }}</span>!</h1> <!--built-in-->
    <div class="row">
        <div class="col-md-6">
            <small><a href="{% url 'main-page' %}">main page</a></small>
        </div>
        <div class="col-md-6">
             <small><a href="{% url 'post-create' %}">create a new post</a></small>
        </div>
    </div>
    <hr>
    <br>
    {% for i in posts %}


        <article class="media content-section ml-5">
            <div class="">

                  <a  href=" {%url 'post-detail' i.id %}">{{i.title}}</a>
                  <h2 class="">{{i.content}}</h2>
                <div>

                  <p>{{i.date_posted}}</p>
                    <a href=""></a>
                </div>
                
            </div>
        </article>
        <br>
        <hr>

    {% endfor %}
    <h1>{{t}}</h1>
{% endblock content %}


